html{
    scroll-behavior: smooth;
  }

body{
    font-family: "Montserrat";
    font-weight: 400;
    background-repeat: no-repeat;
    background-size: cover;
    backface-visibility: visible;
}

::selection{
    color: #9900ff;
}


::-moz-selection{
color: #FFDFD3;}


#folha{

        border-color: black;
        border-style: solid;
        border-radius: 20px;
        margin: 30px 150px;
        background-color: #F5F5F5;
        background-attachment: fixed;
        opacity : 0.9;





}


h1{
    text-align: center;
    font-size: 50px;
    text-decoration: underline;



}

#pessoal{
    font-size: 15px;
    padding-top: 20px;
    margin-left: 70px;

}


h2{

    line-height: 20px;
    text-align: center;
    font-size: 20px;
    padding-top: 50px;
    text-decoration: underline;


}



.geral{
    
    font-size: 15px;
    margin-top: 1pc;
    font-family: 'Times New Roman', Times, serif;
    margin: auto;



}   




#OBJETIVOS{
    padding-left: 200px;
}

#FORMACAO{
    padding-left: 260px;

}
#IDIOMA{
    padding-left: 430px;



}


ul.a{
    margin-left: 100px;
    font-size: 15px;   
    line-height: 30px;




}

li.b{

    margin-right: 100px;


}